<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
     <title>share_room</title>
  </head>
  <body>
      {% load bootstrap4 %}
    <!--  {% bootstrap_css %}-->
      {% bootstrap_javascript jquery='full' %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_active %}
                <li><a href="{%url 'login' %}"> <span class="glyphicon glyphicon-heart"></span> welcome, {{user.username}}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{%url 'login' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
                {% endif %}
            </ul>
          <h1 class="mt-2">공공의 방</h1>
          <a href= "{% url "post:new" %}">글쓰기 </a><br><br>
          <a href= "{% url "main:list" %}">홈으로 </a><br><br>
          <hr class="mt-0 mb-4">
          {% block content %}
          
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>