<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<form action = "{% url "post:new_qna" %}?post_pk={{object.pk}}" method="post">
    {% csrf_token %}
    {{qna_form}}
    <input type="submit">
</form>    

{% for qna in object_list %}
<br>
    <div class="row featurette">
        <div class="col-md-5">
            <h3 class="featurette-heading"> {{qna.user}} <span class="text-muted">{{qna.text}}</span></h2>
            <p class="lead">{{qna.post}}</p>
            {% for comment in qna.comment_set.all %}
                <li>{{comment.text}}</li> <br>
            {% endfor %}
            <form action = "{% url "post:new_comment" %}?post_pk={{object.pk}}&qna_pk={{qna.pk}}" method="post">
                    {% csrf_token %}
                    {{comment_form}}
                    <input type="submit">
            </form>
        </div>     
    </div>
        <hr><br>
{% endfor %}